---
// utils imports
import { slugify, formatDate } from "../js/utils.js";

const { category, title, date, image } = Astro.props;
---

<header class="container">
  <div>
    <small>
      <a class="tag" href={`/category/${slugify(category)}/`}>{category}</a>
    </small>
    <h1 class="h1">{title}</h1>
    <p class="date">
      {formatDate(date)}
    </p>
  </div>
  <img src={image.src} alt={image.alt} class="post-img" />
</header>

<style>
  .h1 {
    margin-top: 1rem;
  }

  .date {
    opacity: 0.7;
  }
  .post-img {
    max-height: 500px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
  }
</style>
